.list-group li:hover {
    background-color: darkgray;
    cursor: pointer;
}
.closeicon:hover {
    background-color: #ffc824;
    cursor: pointer;  
}

.closeicon {
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: -16px;
    padding: 8px;
}

.selectListItem {
    background-color: #2d0def;
    color:white;
}

.selectListItem .todoText {
    text-decoration: line-through;
}

.selectListItem .todoText::before {
    content: "\2713";
}